/*
　* ＝grid overrides
　*************************
 */
.grid_3 {
	margin-left: 60px;
}
.grid_18 {
	clear: both;
}

/*
　*************************
　* ＝miscellaneous
　*************************
 */
.container_24 {
	margin-top: 10px;
}

blockquote {
	position: relative;
}

blockquote p {
	font-size: 15px;
	line-height: 20px;
	font-style: italic;
	color: #0e0e0e;
}

p {
	font-size: 13px;
	line-height: 20px;
	color: #353535;
}

h1, h2 {
	letter-spacing: -1px;
}

h3 {
	font-size: 26px;
	text-transform: lowercase;
	border-bottom: 1px solid #d1d1d1;
	padding-bottom: 27px;
	margin-bottom: 15px;
}

a {
	color: #7e7e7e;
	text-decoration: none;
}

a:hover, .selected {
	color: black;
}

.button {
	background: #242324;
	padding: 6px;
	color: white;
	text-transform: uppercase;
	font-size: 11px;
}

.button:hover {
	background: black; 
	color: white;
}

/*
　*************************
　* =header
　*************************
 */
header {
	overflow: hidden;
}

header h1 {
	text-indent: -9999px;
	float: left;
	margin-bottom: 0;
}

header h1 a {
	background: url(../img/logo.jpg) no-repeat;
	width: 167px;
	height: 23px;
	float: left;
	margin: 10px 10px 22px;
}
/*
　*************************
　* ＝nav
　*************************
 */
nav {
	float: right;
	padding-top: 12px;
}

nav li {
	display: inline;
	margin-left: 24px;
}

nav a {
	text-transform: lowercase;
}

/*
　*************************
　* ＝banner
　*************************
 */
.banner {
	background: url(../img/blue_island.jpg) no-repeat;
	width: 685px;
	height: 231px;
	clear: both;
	position: relative;
}

.banner h2 {
	color: white;
	font-size: 28px;
	width: 400px;
	font-weight: normal;
	position: absolute;
	bottom: -10px;
	padding: 0 8px;
	left: 8px;
	background: rgba(0, 0, 0, .5);
}

.callout {
	background: black;
	height: 231px;
}

/*
　*************************
　* ＝main
　*************************
 */
.main {
	margin-top: 20px;
}

.main blockquote p {
	padding-left: 30px;	
}

.main blockquote p:first-child:before,
.main blockquote p:last-child:after {
	font-size: 40px;
	color: #bfbfbf;
	font-style: italic;
}

.main blockquote p:first-child:before {
	content: '”';
	position: absolute;
	top: 7px;
	left: 0;
}

.main blockquote p:last-child:after {
	content: '”';
	float: right;
	position: absolute;
	bottom: -7px;
	right: 0;
}

/*
　*************************
　* ＝footer
　*************************
 */
footer {
	clear: both;
	border-top: 1px solid #d1d1d1;
	padding-top: 18px;
}

/*
　*************************
　* ＝work
　*************************
 */
.work h2,
.work h4 {
	font-weight: normal;
	font-size: 26px;
}

.work h2 {
	margin-bottom: 0;
}

.work img {
	margin-bottom: 20px;
}

.work h4 {
	color: #787878;
	margin-top: -10px;
	line-height: 1em;
	border-bottom: 1px solid #d1d1d1;
	padding-bottom: 33px;
	margin-bottom: 30px;
}